api.phiconsulting.biz.id {
    reverse_proxy api:8000
}

staging.phiconsulting.biz.id {
    reverse_proxy api:8000
}

phiconsulting.biz.id {
    reverse_proxy api:8000
}

# Local development
localhost {
    reverse_proxy api:8000
}
